:root {
    --emerald-color: #009688;
}

.header {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/pattern.jpg");
	background-position: center;
	background-size: 500px;
	background-repeat: repeat;

	height: 100vh;

    display: grid;
    place-items: center;
}

.header .profile {
	width: 150px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 5px solid white;
}

.header .anim-updown {
    animation: animScroll 2s ease-in-out infinite;
}

@keyframes animScroll {
    0%   { transform: translateY(0);    }
    50%  { transform: translateY(20px); }
    100% { transform: translateY(0);    }
}

.right-bar {
	overflow-y:  scroll;
	max-height: 100vh;
}

.navigator {
    display: grid;
    justify-content: center;
}

.navigator .active {
	color: var(--emerald-color)!important;
	border-bottom: 4px solid var(--emerald-color);
}

.container {
	width: 90%;
	max-width: 400px;
}

.container .card {
	overflow: hidden;
}

.container .card .preview {
	width: 100%;
	height: 150px;

	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	background-size: cover;
	background-position: center;
}

.container .card .preview .fill {
	width: 100%;
	height: 100%;
	transition: background 0.3s;
	overflow: hidden;

	display: grid;
	place-items: center;
} 

.container .card .preview:hover .fill {
	background: rgba(0, 0, 0, 0.5);
}

.container .card .preview .call-action {
	transform: translateY(100px);
	transition: transform 0.4s cubic-bezier(0.25, 0.1, 0, 1.48);
	background-color: var(--emerald-color);
	border: none;
	outline: none;
}

.container .card .preview:hover .call-action{
	transform: translateY(0px);
}
